@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.box {
  width: 100%;
  height: auto;
  background: #1F2025;
}
.box header {
  width: 100%;
  height: 2.93333333rem;
  background: #2F3034;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-bottom: 0.05333333rem solid #37383c;
}
.box header .top {
  width: 100%;
  height: 1.33333333rem;
  display: flex;
  align-items: flex-end;
}
.box header .top a {
  width: 2.61333333rem;
  height: 0.66666667rem;
  margin-left: 0.93333333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box header .top a img {
  width: 0.53333333rem;
  height: 0.37333333rem;
}
.box header .top a p {
  font-size: 0.48rem;
  color: #FFFFFF;
}
.box header .head-bottom {
  width: 100%;
  height: 1.06666667rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.box header .head-bottom .guan {
  width: 1.06666667rem;
  height: 0.8rem;
  display: flex;
}
.box header .head-bottom .guan a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.box header .head-bottom .guan a p {
  color: #EF8277;
  font-size: 0.48rem;
}
.box header .head-bottom .guan a p::after {
  content: '';
  width: 0.96rem;
  height: 0.05333333rem;
  background: #EF8277;
  display: block;
}
.box header .head-bottom .fensi {
  width: 1.06666667rem;
  height: 0.8rem;
  display: flex;
}
.box header .head-bottom .fensi a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.box header .head-bottom .fensi a p {
  color: #fff;
  font-size: 0.48rem;
}
.box .container {
  width: 100%;
  height: 7.62666667rem;
  background: #1F2025;
}
.box .container .tianjia {
  width: 100%;
  height: 1.33333333rem;
  border-bottom: 0.05333333rem solid #434448;
}
.box .container .tianjia .p-left {
  width: 2.13333333rem;
  height: 1.33333333rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box .container .tianjia .p-left p {
  font-size: 0.32rem;
  color: #8E8F90;
  font-weight: 600;
}
.box .container ul {
  width: 100%;
  height: 6.18666667rem;
}
.box .container ul li {
  width: 100%;
  height: 1.57333333rem;
  border-bottom: 1px solid #636367;
}
.box .container ul li .wk {
  width: 3.2rem;
  height: 100%;
  display: flex;
  margin-left: 1.06666667rem;
  align-items: center;
}
.box .container ul li .wk img {
  width: 0.58666667rem;
  height: 0.58666667rem;
}
.box .container ul li .wk p {
  width: 1.65333333rem;
  font-size: 0.34666667rem;
  color: #F8F8F8;
  text-align: center;
}
.box .container ul li .wk span {
  font-size: 0.32rem;
  color: #3F4043;
}
.box .foot {
  width: 100%;
  height: 6.29333333rem;
  background: #1F2025;
}
.box .foot .wode {
  width: 100%;
  height: 1.33333333rem;
  border-bottom: 1px solid #434448;
}
.box .foot .wode .p-left {
  width: 2.13333333rem;
  height: 1.33333333rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box .foot .wode .p-left p {
  font-size: 0.32rem;
  color: #8E8F90;
  font-weight: 600;
}
.box .foot ul {
  width: 100%;
  height: 4.96rem;
}
.box .foot ul li {
  width: 100%;
  height: 1.65333333rem;
  border-bottom: 1px solid #434448;
  display: flex;
  justify-content: space-between;
}
.box .foot ul li .li-left {
  width: 5.86666667rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .foot ul li .li-left img {
  width: 0.8rem;
  height: 0.8rem;
}
.box .foot ul li .li-left .asd {
  width: 2.93333333rem;
  height: 0.8rem;
  margin-left: 0.10666667rem;
}
.box .foot ul li .li-left .asd .li-top {
  width: 42%;
  height: 50%;
  display: flex;
  align-items: center;
}
.box .foot ul li .li-left .asd .li-top p {
  font-size: 0.32rem;
  color: #EEEEEE;
}
.box .foot ul li .li-left .asd .li-top img {
  width: 0.29333333rem;
  height: 0.26666667rem;
  margin-left: 0.10666667rem;
}
.box .foot ul li .li-left .asd .li-top .nv {
  width: 0.24rem;
  height: 0.34666667rem;
}
.box .foot ul li .li-left .asd .li-text {
  width: 90%;
  height: 50%;
}
.box .foot ul li .li-left .asd .li-text p {
  font-size: 0.26666667rem;
  color: #7E7F80;
}
.box .foot ul li .li-right {
  width: 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .foot ul li .li-right a {
  width: 0.08rem;
  height: 0.37333333rem;
  display: flex;
}
.box .foot ul li .li-right a img {
  width: 0.08rem;
  height: 0.37333333rem;
}
.box .kongbai {
  width: 100%;
  height: 4.8rem;
}
